<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817872664451-i52pn5bnepimnr76eum7800035oga06g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817872664451-i52pn5bnepimnr76eum7800035oga06g</string>
	<key>API_KEY</key>
	<string>AIzaSyBsovsRRnmFGDftHU-vAAZUM8stMDLnvtg</string>
	<key>GCM_SENDER_ID</key>
	<string>817872664451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>task6itra</string>
	<key>STORAGE_BUCKET</key>
	<string>task6itra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817872664451:ios:2bd673169762be29f068b6</string>
</dict>
</plist>